* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #2a2a2a;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: rgb(155, 27, 38);
}

/*==== Body ====*/
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0 5rem;
}

/*===== Nav Section ====*/
.navbar {
  display: flex;
  position: relative;
  width: 95%;
  height: 10rem;
  margin: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  background: transparent;
}

/*==== Navbar Logo ====*/
#logo-img {
  width: 13rem;
  box-shadow: 10px 10px 80px rgb(221, 196, 196);
  animation: imageAnimation 5s infinite;
}

.navbar-links {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links a {
  display: flex;
  position: relative;
  justify-content: center;
  color: #a19e9e;
  font-size: 23px;
  font-weight: 600;
  padding: 2.5rem;
}

.navbar-links a:hover {
  color: gold;
}



.navbar-links a:hover::after {
  width: 20%;
}

.burger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.line {
  width: 3rem;
  height: 0.3rem;
  background: rgb(160, 224, 226);
  margin: 0.5rem;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

/* ===== Home Section / Text and Image ==== */
section {
  padding: 10% 10%;
}

.home {
  position: relative;
  height: 80vh;
  width: 100%;
  line-height: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
 
body { 
margin: 0;
  } 
  }
.navbar {
    flex-direction:column;
    
    height: auto;
  } 
.navbar-links {
    flex-direction: row;
    text-align: center;
    width: 100%;
  }
.navbar-links a {
    padding: 1rem;
  }
.burger {
    display: block;
  }
.home-image {
    width: 80%;
    right: 0;
    top: 150px;
  }

.home-content h1 {
    font-size: 2rem;
  }
.btn1,
  .btn2 {
    margin-right: 0;
  }

.home-image {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 15%;
  right: 14%;
  box-shadow: 10px 10px 80px rgb(221, 196, 196);
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  border: 5px solid rgb(130, 177, 196);
  animation: imageAnimation 5s infinite;
}

@keyframes imageAnimation {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  50% {
    border-radius: 35% 35% 35% 35% / 35% 35% 35% 35%;
  }
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}

.one {
  display: inline-block;
  padding: 0 15px;
  margin-top: 10px;
  line-height: 45px;
  font-size: 30px;
  font-weight: 500;
  background: blue;
  border-radius: 20px;
  color: var(--text-color);
}

.two {
  display: inline-block;
  color: var(--second-color);
  font-size: 30px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 2rem;
}

.span-red {
  color: var(--main-color);
}

.home-content h1 {
  margin: 1.5rem;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  color: var(--text-color);
  box-shadow: 0 0 40px rgb(158, 126, 132);
  border-radius: 40px;
}

.home-content h3 span {
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: transparent;
  -webkit-text-stroke: 0.6px #fff;
  background-image: linear-gradient(rgb(103, 161, 184), gold);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -400px 0;
  animation: animateText 5s linear infinite;
}

@keyframes animateText {
  0%,
  95%,
  100% {
    background-position: -400px 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

b {
  font-size: 1.3rem;
}

/*  ====== Buttons Section ====== */

.buttons {
  margin: 2rem;
  padding: 1rem;
}

.btn1,
.btn2 {
  display: inline-block;
  padding: 13px 18px;
  background: #024252;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ccc;
  margin-top: 50px;
  margin-left: -1rem;
  margin-right: 7rem;
  transition: all 0.3s ease-in-out;
}

.btn1:hover,
.btn2:hover {
  background-color: transparent;
  border: 2px solid red;
  box-shadow: 0 0 50px rgb(184, 47, 77);
  transform: translateY(-10px);
}
.footer p {
  letter-spacing: 2px;
  text-align: center;
  margin-top: 3rem;
  font-size: smaller;
}
*/

/* ===== FOOTER ===== */

.social-medias a:hover {
  background: rgb(17, 248, 160);
  color: #0d5753;
  box-shadow: 0 0 30px rgb(37, 219, 219);
  border: 2px solid rgb(0, 255, 221);
  transform: translateY(-7px);
}








/* ===== Responsive Section ======= */

/* Break Points - <600px, 601px, 768px. 992px, 1200px */



/* MOBILE VERSION */
